<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WanderLust</title>
</head>
<body>
    <% layout("/layouts/boilerplate")%>
    <div class="row">
        <div class="col-8 offset-2">
            <br>
    <h3>Create a New Listing</h3>
     <form method="POST" action="/listings" novalidate class="needs-validation">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
<input name="listing[title]" 
placeholder="Add a title " type="text" 
class="form-control" required>
<div class="valid-feedback">Title looks goods</div>
<div class="invalid-feedback">Enter a valid description</div> 
</div>
<div class="mb-3">
     <label for="description" class="form-label" >Description</label>
    <textarea name="listing[description]"  class="form-control"  required></textarea>
    <div class="invalid-feedback">Enter a valid description</div>
</div>

<div >
    <label for="image" class="form-label">Image</label>
<input name="listing[image]" placeholder="Enter image URL" type="text" class="form-control">
</div>
<div class="row">
<div class=" col-md-4">
    <label for="price" class="form-label">Price</label>

<input name="listing[price]" placeholder="Sample price"  class="form-control"  required>
<div class="invalid-feedback">Enter a valid price</div>
</div>
<div class=" col-md-8">
    <label for="country" class="form-label" >Country</label>

<input name="listing[country]" placeholder="India" type="text" class="form-control"  required>
<div class="invalid-feedback">Enter a valid location</div>
</div>

</div>


<div class="mb-3">
    <label for="location" class="form-label"  required>Location</label>

<input name="listing[location]" placeholder="Amritsar,Punjab" type="text" class="form-control"  required>
</div>
<br>

<button class="btn btn-dark add-btn">Add</button>
     </form>
     </div>
     </div>
</body>
</html>